[Unit]
Description=Update weather database with environmental readings every 5 minutes.

[Timer]
OnUnitActiveSec=300s
OnBootSec=30s

[Install]
WantedBy=timers.target
