[Unit]
Description=Update weather database with environmental readings every minute.

[Timer]
OnUnitActiveSec=60s
OnBootSec=10s

[Install]
WantedBy=timers.target
