[Unit]
Description=uWSGI instance to serve the weather data
After=network.target

[Service]
user=pi
Group=www-data
WorkingDirectory=/home/pi/weather-pi
ExecStart=/home/pi/.local/bin/uwsgi --ini wsgi.ini

[Install]
WantedBy=multi-user.target
